<div class="w-full h-full flex flex-col justify-start items-center">
    <div class="
    flex flex-col
    w-3/4 lg:w-1/2
    ">  
        <%# navigation %>
        <div class="flex">
            <a href="javascript:history.back()" class = "
            w-12 py-2 px-4
            text-white font-bold text-center
            bg-gray-600 hover:bg-gray-700
            rounded-lg
            cursor-pointer
            transition-all duration-200
            mb-4 mr-4
            ">
                ←
            </a>
            <a href=<%= categories_path %> class = "
            py-2 px-4
            text-white font-bold text-center
            bg-gray-600 hover:bg-gray-700
            rounded-lg
            cursor-pointer
            transition-all duration-200
            mb-4
            ">
                All categories
            </a>
        </div>

        <%# header %>
        <h1 class="text-4xl mb-6">
            Edit Category
        </h1>

        <%# form proper %>
        <%= render "form", category: @category, btn_msg: "Update" %>
    </div>
</div>