<div class="w-full h-full -mx-3">
    <h1 class="text-4xl mb-3 mx-3">Task Categories</h1>

    <div class="flex flex-wrap">
        <% @categories.each do |category| %>
            <%= render 'card', category: category %>
        <% end %>

        <%# add new category %>
        <div class="w-80 xl:w-1/4">
            <a href=<%= new_category_path %> class="
            flex flex-col justify-center items-center
            rounded-lg shadow-md
            px-7 py-6 h-56 m-3
            bg-opacity-50 hover:bg-opacity-100
            bg-gray-700 
            transition duration-200
            ">
                <p class="text-5xl font-thin text-gray-400">+</p>
            </a>
        </div>
    </div>
</div>